<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">
        <img src="https://www.clipartmax.com/png/middle/46-466028_around-the-library-books-circle-icon-png.png" alt="Logo" width="40" height="30" class="d-inline-block align-top">
        Bookstore
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user_logged_in %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, {{ first_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{{ url_for('search_books') }}">Search Books</a>
                    <a class="dropdown-item" href="{{ url_for('create_book') }}">Create Book</a>
                    <a class="dropdown-item" href="{{ url_for('update_book') }}">Update Book</a>
                    <a class="dropdown-item" href="{{ url_for('delete_book') }}">Delete Book</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

