<!DOCTYPE html>
<html>

<head>
    <title>Update Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigation menu -->
    {% include 'nav_menu.html' %}

    <!-- Update Books Form -->   
    <div class="container mt-5">
        <h2>Update Book</h2>
        <form action="{{ url_for('update_book',id = id)}}" method="post">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Column to Edit</label>
            <select class="form-control" id="fieldVal" name="fieldVal">
              <option>ISBN</option>
              <option>Title</option>
              <option>Price</option>
              <option>Year</option>
              <option>Quantity</option>
              <option>Rating</option>
            </select>
          </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Insert New Value</label>
              <input type="text" class="form-control" id="fieldInput"  id="fieldInput"placeholder="New Value">
          </div>      
          <div>
            <button type="submit" class="btn btn-primary">Update Book</button>
        </div>                                
        </form>
                     
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
